.modernTechnology {
  margin-top: 50px;
}
.modernTechnology__box {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.modernTechnology__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modernTechnology__title {
  @include h2Title;
}
.modernTechnology__txt {
  line-height: 20px;
}
.modernTechnology__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modernTechnology__subTitle {
}
.modernTechnology__ul {
  list-style-type: disc;
  line-height: 20px;
  list-style-position: inside;
}
