.saveOurNumber {
  margin-top: 50px;
}
.saveOurNumber__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.saveOurNumber__imgWrp {
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto; /* Центрируем блок */
  overflow: hidden; /* Обрезаем выходящее изображение */
  border-radius: 16px; /* Скругление углов */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Мягкая тень */
  border: 1px solid #eee; /* Светлая рамка */
}
.saveOurNumber__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.cheap__btnWrp {
}
.cheap__btnWrpMargin {
  margin-bottom: 20px;
}
.saveOurNumber__dsc {
  font-weight: 700;
  margin-bottom: 5px;
}
.cheap__btn {
}
.saveOurNumber__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.saveOurNumber__title {
  @include h2Title;
}
.saveOurNumber__txt {
  line-height: 20px;
}
.saveOurNumber__subTitle {
  margin-bottom: 0;
}
.saveOurNumber__ul {
  line-height: 20px;
  list-style-type: disc;
  list-style-position: inside;
}
