.openingASafe {
  margin-top: 50px;
}
.openingASafe__box {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.openingASafe__left,
.openingASafe__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.openingASafe__title {
  @include h2Title;
}
.openingASafe__txt {
  line-height: 20px;
}
.openingASafe__subTitle {
  margin-bottom: 0;
}
.openingASafe__ul {
  line-height: 20px;
  list-style-type: disc;
  list-style-position: inside;
}
