.header {
  background-color: var(--mainColor);
  color: #fff;
}
.header__box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}
.header__log {
  font-weight: 700;
  font-size: 17px;
  padding-left: 30px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../../assets/icons/log.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.header__menuWrp {
}
.header__ul {
  display: flex;
  gap: 20px;
  a {
    color: #fff;
  }
}
