.reviews {
  margin-top: 50px;
}
.reviews__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.reviews__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviews__title {
  @include h2Title;
}
.reviews__txt {
  line-height: 20px;
}
.reviews__commentWrp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.reviews__name {
  font-weight: 700;
}
.reviews__stars {
}
.reviews__message {
}
.reviews__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
// .reviews__imgWrp {
//   max-width: 100%;
//   max-height: 100%;
// }
// .reviews__img {
//   height: 100%;
//   width: 100%;
//   object-fit: cover;
// }
.reviews__imgWrp {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  // height: 350px;     /* Задаём высоту */
  margin: 0 auto; /* Центрируем блок */
  overflow: hidden; /* Обрезаем выходящее изображение */
  border-radius: 16px; /* Скругление углов */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Мягкая тень */
  border: 1px solid #eee; /* Светлая рамка */
}

.reviews__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
