.forms {
  margin-top: 50px;
  margin-bottom: 20px;
}
.forms__wrapper {
}
.container-fluid {
}
.row {
}
.col-12 {
}
.container {
}
.forms__box {
}
.forms__title {
  @include h2Title;
}
.mb-0 {
}
.mt-3 {
}
.my-0 {
}
.form-control {
}
.my-4 {
}
.btn {
}
.text-uppercase {
}
.fw-bold {
}
.px-3 {
}
.py-2 {
}
.forms__button {
  @include btn;
  border-radius: 5px;
}
